PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=list_save
JWT_SECRET=change_this_in_production
JWT_EXPIRES_IN=24h

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=redis_pwd

APP_PORT_MAP=3020
DB_PORT_MAP=13306